_raw_sozdanie_kart.json
{"updatedAt":"2026-04-09T10:54:51.131Z","createdAt":"2025-11-24T12:43:44.662Z","id":"D2FUc9ESHv4XWp7b","name":"Создание карт","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1564800784,"mode":"list","cachedResultName":"Промты для поиска","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=1564800784"},"columns":{"mappingMode":"defineBelow","value":{"Number":"={{ $json['номер'] }}","Prompt":"={{ $json['промпт'] }}"},"matchingColumns":[],"schema":[{"id":"Number","displayName":"Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[352,-144],"id":"a4d81de8-5ba1-46de-8464-99e035de7251","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"model":"google/gemini-3.1-pro-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-240,80],"id":"9aa5496b-6d19-4a87-8cb6-609df380a303","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json[\"Создание Базовых промтов\"] }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json[\"Тема колоды\"] }}\n{{ $json[\"Аудитория\"] }}\n{{ $json['Ядро'] }}\n{{ $json[\"Инструкция\"] }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-224,-144],"id":"9e477d03-67fa-4210-bb50-e9fb5c971426","name":"AI Agent"},{"parameters":{"jsCode":"const input = $input.first().json;\n\nlet parsed;\nif (typeof input.output === 'string') {\n  parsed = JSON.parse(input.output); // здесь уже массив строк\n} else {\n  parsed = input.output;\n}\n\nif (!Array.isArray(parsed)) {\n  throw new Error('Expected array of prompts');\n}\n\n// Собираем весь промпт в одну строку\nreturn parsed.map((prompt, index) => ({\n  json: {\n    номер: index + 1,\n    промпт: prompt // если нужно красиво, можно без JSON.stringify\n    // или промпт: JSON.stringify(prompt, null, 2) если дальше нужен именно текст с экранированием\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-144],"id":"7211c490-2b44-49cc-aef4-487d99aa782b","name":"Code in JavaScript"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1922465819,"mode":"list","cachedResultName":"Базовые промты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=1922465819"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-480,352],"id":"496a906b-37e2-4098-8091-8ec5d5cb6121","name":"Google Sheets Trigger1","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1922465819,"mode":"list","cachedResultName":"Базовые промты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=1922465819"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-448,-144],"id":"ea735de8-ce10-4e29-bd34-6fb6af6dc162","name":"Google Sheets Trigger2","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.data, null, 2) }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Google Sheets Trigger1').item.json[\"Тема колоды\"] }}\n{{ $('Google Sheets Trigger1').item.json[\"Аудитория\"] }}\n{{ $('Google Sheets Trigger1').item.json['Валидация'] }}\n{{ $('Google Sheets Trigger1').item.json[\"Инструкция\"] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[208,352],"id":"fab5f03f-d2fc-4b24-b3f9-02babdcbe0aa","name":"AI Agent1"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[192,576],"id":"90a9faac-f05e-42ab-aaaf-07cc588863ca","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=data","include":"allFieldsExcept","fieldsToExclude":"Оценка, Аналитика, Оценка, ТИП, row_number, Ссылка, Статус, col_10, Тип проблемы","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-32,352],"id":"38b63ff4-d8d0-424d-8d9b-954886de25a2","name":"Aggregate"},{"parameters":{"jsCode":"// 1. Получаем входные данные\nconst rawOutput = $input.first().json.output;\nlet allCases = [];\n\n// 2. Блок парсинга\ntry {\n  if (typeof rawOutput === 'object' && rawOutput !== null) {\n    allCases = Array.isArray(rawOutput) ? rawOutput : [rawOutput];\n  } else if (typeof rawOutput === 'string') {\n    const parsed = JSON.parse(rawOutput);\n    allCases = Array.isArray(parsed) ? parsed : [parsed];\n  }\n} catch (e) {\n  // Попытка \"хирургии\"\n  try {\n    if (typeof rawOutput === 'string') {\n      const lastBraceIndex = rawOutput.lastIndexOf('}');\n      if (lastBraceIndex !== -1) {\n        const fixedString = rawOutput.substring(0, lastBraceIndex + 1) + ']';\n        const parsed = JSON.parse(fixedString);\n        allCases = Array.isArray(parsed) ? parsed : [parsed];\n      }\n    }\n  } catch (e2) {\n    // Критическая ошибка - возвращаем диагностику\n    return [{\n      json: {\n        error: 'Parsing failed',\n        rawType: typeof rawOutput,\n        rawSample: String(rawOutput).substring(0, 200)\n      }\n    }];\n  }\n}\n\n// 3. Проверка что allCases - массив\nif (!Array.isArray(allCases)) {\n  return [{\n    json: {\n      error: 'Data is not an array',\n      dataType: typeof allCases,\n      data: allCases\n    }\n  }];\n}\n\n// 4. Вспомогательная функция\nconst getValue = (item, possibleKeys) => {\n  for (let key of possibleKeys) {\n    if (item.hasOwnProperty(key) && item[key] !== undefined && item[key] !== null) {\n      return item[key];\n    }\n  }\n  return \"\";\n};\n\n// 5. Маппинг данных\nreturn allCases.map(item => ({\n  json: {\n    номер: getValue(item, [\"№\", \"Номер\", \"number\", \"card_id\", \"id\"]),\n    аналитика: getValue(item, [\"Аналитика\", \"analytics\", \"text\", \"description\"]),\n    оценка: getValue(item, [\"Оценка\", \"score\", \"rating\"]),\n    группа: getValue(item, [\"Группа\", \"group\", \"category\"])\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,352],"id":"74a47537-6e14-4a1f-b425-845f67eeacc3","name":"Code in JavaScript2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":499144166,"mode":"list","cachedResultName":"Кейсы(валидрованные)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=499144166"},"columns":{"mappingMode":"defineBelow","value":{"Номер":"={{ $json['номер'] }}","Тип проблемы":"=","Аналитика":"={{ $json['аналитика'] }}","Оценка":"={{ $json['оценка'] }}","ТИП":"={{ $json['группа'] }}"},"matchingColumns":["Номер"],"schema":[{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название кейса","displayName":"Название кейса","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Суть","displayName":"Суть","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ссылка","displayName":"Ссылка","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Тип проблемы","displayName":"Тип проблемы","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Аналитика","displayName":"Аналитика","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Оценка","displayName":"Оценка","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ТИП","displayName":"ТИП","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[784,352],"id":"b90a6679-f408-4fa2-8d16-e06866947fb6","name":"Update row in sheet","alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1922465819,"mode":"list","cachedResultName":"Базовые промты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=1922465819"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-496,1072],"id":"b1d8a1ac-27ad-400c-a134-051dc666cd78","name":"Google Sheets Trigger3","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.кейсы, null, 2) }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Google Sheets Trigger3').item.json['Тема колоды'] }}\n{{ $('Google Sheets Trigger3').item.json[\"Аудитория\"] }}\n{{ $('Google Sheets Trigger3').item.json['Генерация карт Я'] }}\n{{ $('Google Sheets Trigger3').item.json['Инструкция'] }}\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[752,1072],"id":"eacca20a-1ced-4217-a7fc-091120e59884","name":"AI Agent2"},{"parameters":{"model":"google/gemini-3.1-pro-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[752,1280],"id":"00e6f08f-e191-4b18-8742-1c95a1e90f86","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":133538386,"mode":"list","cachedResultName":"Кейсы(валидрованные) (копия)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=133538386"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-272,1072],"id":"c24033b4-23cf-4eb8-a8ea-f489c75801bb","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const data = JSON.parse($input.first().json.output);\n\nif (!Array.isArray(data)) {\n  throw new Error('После парсинга должен быть массив, получено: ' + typeof data);\n}\n\nreturn data.map(item => {\n  return {\n    json: {\n      номер_карты: item['№ Порядковый номер карты'] || item['№'] || '',\n      исходный_кейс: item['Номер Исходного кейса'] || item['№ Исходного кейса'] || '',\n      название: item['Название'] || '',\n      тип: item['ТИП'] || item['Луч'] || '',\n      описание: item['Description'] || '',\n      задача: item['Task'] || '',\n      допматериал: item['Доп_материал'] || item['Доп. материал'] || ''\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,1072],"id":"7e028956-ffd6-4b2f-adff-d6104f80d472","name":"Code in JavaScript3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45be9e76-59e0-4d8b-92e6-7e45076fd6fb","leftValue":"={{ $json['ТИП'] }}","rightValue":"=Я","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,1072],"id":"5c310a36-9041-4e68-b7d3-53cea4508cef","name":"If"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.кейсы, null, 2) }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Google Sheets Trigger3').item.json['Тема колоды'] }}\n{{ $('Google Sheets Trigger3').item.json[\"Аудитория\"] }}\n{{ $('Google Sheets Trigger3').item.json['Генерация карт МЫ'] }}\n{{ $('Google Sheets Trigger3').item.json['Инструкция'] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[640,1584],"id":"eeda6c0c-6898-4213-9f45-e17c6e4b21f0","name":"AI Agent3"},{"parameters":{"model":"google/gemini-3.1-pro-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[592,1824],"id":"84872aca-81b2-4010-bfc8-7e4e6de042ad","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"jsCode":"const rawOutput = $input.first().json.output;\n\n// Парсим строку в массив\nlet data;\ntry {\n  data = JSON.parse(rawOutput);\n} catch (error) {\n  throw new Error('Не удалось распарсить JSON: ' + error.message);\n}\n\n// Проверяем, что это массив\nif (!Array.isArray(data)) {\n  throw new Error('После парсинга должен быть массив, получено: ' + typeof data);\n}\n\nreturn data.map(item => ({\n  json: {\n    номер_карты: item['Карта_Id'] || '',\n    исходный_кейс: item['Номер_кейса'] || '',\n    название: item['Название'] || '',\n    луч: item['Луч'] || '',\n    описание: item['Description'] || '',\n    задача: item['Task'] || '',\n    допматериал: item['Доп_материал'] || '',\n    типЗадачи: item['Доп. материал'] || ''\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,1584],"id":"346ea008-5b6f-4711-84bc-dc27f05cebbd","name":"Code in JavaScript4"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=data","include":"allFieldsExcept","fieldsToExclude":"Оценка","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[208,1056],"id":"b097b26f-ca34-4fb3-9cfd-7fc419acf6a9","name":"Aggregate1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=data","include":"allFieldsExcept","fieldsToExclude":"Оценка","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[224,1440],"id":"c370acb4-4ee3-4493-bf5e-9966eba45d6c","name":"Aggregate2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2031935258,"mode":"list","cachedResultName":"Карты Я","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=2031935258"},"columns":{"mappingMode":"defineBelow","value":{"Номер":"={{ $json[\"номер_карты\"] }}","Исходный кейс":"={{ $json[\"исходный_кейс\"] }}","Название":"={{ $json[\"название\"] }}","Тип":"={{ $json[\"тип\"] }}","Описание":"={{ $json[\"описание\"] }}","Задание":"={{ $json[\"задача\"] }}","Допматериал":"={{ $json[\"допматериал\"] }}"},"matchingColumns":["Номер"],"schema":[{"id":"Исходный кейс","displayName":"Исходный кейс","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название","displayName":"Название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Тип","displayName":"Тип","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Задание","displayName":"Задание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Допматериал","displayName":"Допматериал","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Источник","displayName":"Источник","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"№ задания","displayName":"№ задания","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название сервиса 1","displayName":"Название сервиса 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка 1","displayName":"Ссылка 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название сервиса 2","displayName":"Название сервиса 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка 2","displayName":"Ссылка 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"№","displayName":"№","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Image","displayName":"Image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1472,1072],"id":"78592833-121a-4da5-a2c0-385ffc5d5cd9","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1115425241,"mode":"list","cachedResultName":"Карты МЫ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1115425241"},"columns":{"mappingMode":"defineBelow","value":{"Номер":"={{ $json[\"номер_карты\"] }}","Название":"={{ $json[\"название\"] }}","Описание":"={{ $json[\"описание\"] }}","Задание":"={{ $json[\"задача\"] }}","Допматериал":"={{ $json['допматериал'] }}","Источник":"=","Исходный кейс":"={{ $json[\"исходный_кейс\"] }}","Тип":"={{ $json['луч'] }}"},"matchingColumns":["Номер"],"schema":[{"id":"Исходный кейс","displayName":"Исходный кейс","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название","displayName":"Название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Тип","displayName":"Тип","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Задание","displayName":"Задание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Допматериал","displayName":"Допматериал","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Источник","displayName":"Источник","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Промт","displayName":"Промт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Image","displayName":"Image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Луч","displayName":"Луч","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1504,1584],"id":"8718d24b-bed1-4689-866b-4016ad14bd83","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const allCases = $input.first().json.data;\n\nconst filtered = allCases.map(item => ({\n  Номер: item['Номер'],\n  Название_кейса: item['Название кейса'],\n  Суть: item['Суть']\n}));\n\nreturn [{\n  json: {\n    кейсы: filtered\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,1440],"id":"fa11ee7a-3863-45dd-b143-0dc1c380c713","name":"Code in JavaScript7"},{"parameters":{"jsCode":"const allCases = $input.first().json.data;\n\nconst filtered = allCases.map(item => ({\n  Номер: item['Номер'],\n  Название_кейса: item['Название кейса'],\n  Суть: item['Суть']\n}));\n\nreturn [{\n  json: {\n    кейсы: filtered\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,1056],"id":"e3c4f831-c316-4913-8ba4-db82d5f660d2","name":"Code in JavaScript8"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.data, null, 2) }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Google Sheets Trigger').item.json[\"Карты я\"] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[96,2240],"id":"1a6d8485-2ff9-44bc-908c-e57cb57d6be3","name":"AI Agent4"},{"parameters":{"model":"google/gemini-3-pro-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[16,2544],"id":"f706b4a9-7274-4ff5-b929-bd0f13257a64","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2031935258,"mode":"list","cachedResultName":"Карты Я","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=2031935258"},"columns":{"mappingMode":"defineBelow","value":{"Номер":"={{ $json.number }}","Промт":"={{ $json.prompt }}"},"matchingColumns":["Номер"],"schema":[{"id":"Исходный кейс","displayName":"Исходный кейс","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название","displayName":"Название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Тип","displayName":"Тип","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Задание","displayName":"Задание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Допматериал","displayName":"Допматериал","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Источник","displayName":"Источник","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Промт","displayName":"Промт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,2240],"id":"9787477e-219b-46ad-9748-7e5c3b69db98","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1922465819,"mode":"list","cachedResultName":"Базовые промты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1922465819"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-640,2240],"id":"b351a18c-0d7e-47f3-9c6b-f5974aba975d","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2031935258,"mode":"list","cachedResultName":"Карты Я","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=2031935258"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-416,2240],"id":"91096ef8-a7f5-4759-8fac-6bac0d4f5fee","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=data","include":"allFieldsExcept","fieldsToExclude":"Промт, row_number, Исходный кейс, Допматериал, Источник","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-176,2240],"id":"0d3560b1-f2a2-447a-b081-70958730b2a6","name":"Aggregate3"},{"parameters":{"jsCode":"// 1. Получаем данные и делаем двойной парсинг\nlet rawOutput = $input.first().json.output;\n\n// Первый парсинг: если это JSON-строка массива\nlet parsedData;\ntry {\n  parsedData = typeof rawOutput === 'string' ? JSON.parse(rawOutput) : rawOutput;\n} catch (e) {\n  parsedData = rawOutput;\n}\n\n// Берем первый элемент, если это массив\nlet inputText = Array.isArray(parsedData) ? parsedData[0] : parsedData;\n\n// 2. Разбиваем по разделителю ───\nconst blocks = inputText.split(/\\n───\\n/).filter(b => b.trim());\n\n// 3. Обрабатываем каждый блок\nconst results = blocks.map(block => {\n  const lines = block.trim().split('\\n\\n'); // Используем двойной перенос\n  \n  // Первый элемент - заголовок\n  const headerLine = lines[0] || \"\";\n  const numberMatch = headerLine.match(/№(\\d+)/);\n  const number = numberMatch ? numberMatch[1] : \"\";\n  \n  // Второй элемент - промпт\n  const prompt = lines[1] || \"\";\n  \n  // Убираем префикс типа из заголовка\n  const title = headerLine\n    .replace(/^(Текст|Аудио|Изображение|Видео|Интерактив|Данные)\\s*№\\d+\\s*/, '')\n    .trim();\n  \n  return {\n    json: {\n      title: title,\n      number: number,\n      prompt: prompt\n    }\n  };\n});\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,2240],"id":"4b3ac1be-202f-41ef-afd6-9092e06ad699","name":"Code in JavaScript1"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.data, null, 2) }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Google Sheets Trigger4').item.json[\"Карты МЫ\"] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[192,2832],"id":"4d3a6dba-264f-4b8d-b523-cdcee20c2caa","name":"AI Agent5"},{"parameters":{"model":"google/gemini-3-pro-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,3136],"id":"6eb0b33f-c938-4cac-a9fd-e404cff48243","name":"OpenRouter Chat Model5","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1115425241,"mode":"list","cachedResultName":"Карты МЫ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1115425241"},"columns":{"mappingMode":"defineBelow","value":{"Промт":"={{ $json.prompt }}","Номер":"={{ $json.number }}"},"matchingColumns":["Номер"],"schema":[{"id":"Исходный кейс","displayName":"Исходный кейс","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название","displayName":"Название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Луч","displayName":"Луч","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Задание","displayName":"Задание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Допматериал","displayName":"Допматериал","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Источник","displayName":"Источник","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Промт","displayName":"Промт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,2832],"id":"59ca7f77-deb2-408d-bcfa-789ab2c1c368","name":"Append or update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1922465819,"mode":"list","cachedResultName":"Базовые промты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1922465819"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-544,2832],"id":"83486040-a146-4af5-81ee-772b91f7c68c","name":"Google Sheets Trigger4","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1115425241,"mode":"list","cachedResultName":"Карты МЫ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1115425241"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-320,2832],"id":"eb437dcb-a0eb-4f71-a129-9cc08c470ca3","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=data","include":"allFieldsExcept","fieldsToExclude":"Промт, row_number, Исходный кейс, Допматериал, Источник","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-80,2832],"id":"584ba5fe-5057-4686-b4f1-a2d3f7f93d0a","name":"Aggregate4"},{"parameters":{"jsCode":"// 1. Безопасно парсим входные данные\nlet rawOutput = $input.first().json.output;\nlet inputData;\ntry {\n  // Если это строка JSON, парсим её. Если уже объект — оставляем.\n  inputData = typeof rawOutput === 'string' ? JSON.parse(rawOutput) : rawOutput;\n} catch (e) {\n  inputData = []; \n}\n\n// Вспомогательная функция для очистки промпта от оберток ```text или ```markdown\nfunction cleanPrompt(text) {\n  if (!text) return \"\";\n  return text\n    .replace(/^```(markdown|text|json)?\\s*/i, '') // Убираем начало ```text\n    .replace(/^```\\s*/, '')                        // Убираем просто ```\n    .replace(/\\s*```$/, '')                        // Убираем конец ```\n    .trim();\n}\n\nconst results = inputData.map(item => {\n  let title = \"\";\n  let number = \"\";\n  let prompt = \"\";\n\n  // === ВАРИАНТ 1: Элемент массива — СТРОКА (Markdown) ===\n  if (typeof item === 'string') {\n    // Сценарий А: Заголовок СНАРУЖИ (Ваш последний пример: \"Текст №1...\\n\\n```text...\")\n    // Ищем текст до ```, затем содержимое внутри ```\n    const matchOutside = item.match(/^(.*?)\\s*```(?:text|markdown)?\\s*([\\s\\S]*?)\\s*```/);\n    \n    // Сценарий Б: Заголовок ВНУТРИ (Ваш предыдущий пример: \"```markdown\\nТекст №1...\\n\\n...\")\n    // Ищем начало блока, потом заголовок, два переноса, потом промпт\n    const matchInside = item.match(/^```(?:markdown|text)?\\s*(.*?)\\n\\n([\\s\\S]*?)\\s*```/);\n\n    if (matchOutside && !item.trim().startsWith('```')) {\n      // Сработал Сценарий А (заголовок перед кодом)\n      title = matchOutside[1].trim();\n      prompt = matchOutside[2].trim();\n    } else if (matchInside) {\n      // Сработал Сценарий Б (заголовок внутри кода)\n      title = matchInside[1].trim();\n      prompt = matchInside[2].trim();\n    } else {\n      // Если регулярки не сработали, просто чистим текст\n      prompt = cleanPrompt(item);\n    }\n  } \n  \n  // === ВАРИАНТ 2: Элемент массива — ОБЪЕКТ (JSON) ===\n  else if (typeof item === 'object' && item !== null) {\n    if ('card_id' in item || 'header' in item) {\n      // Формат с card_id\n      title = item.header || \"\";\n      number = item.card_id || \"\";\n      prompt = cleanPrompt(item.prompt_code);\n    } else {\n      // Формат с \"Номер\" и \"Промт\"\n      title = \"\"; \n      number = item[\"Номер\"] || \"\";\n      prompt = cleanPrompt(item[\"Промт\"]);\n    }\n  }\n\n  // === ФИНАЛЬНАЯ ОБРАБОТКА ===\n  // Если номер не найден в явном поле (card_id/Номер), вытаскиваем его из начала текста промпта\n  if (!number && prompt) {\n    const numMatch = prompt.match(/^(\\d+)/);\n    number = numMatch ? numMatch[1] : \"\";\n  }\n\n  return {\n    json: {\n      title: title,\n      number: number,\n      prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,2832],"id":"49fca895-bfb3-4830-a885-55e0dd4e0c7b","name":"Code in JavaScript5"},{"parameters":{"promptType":"define","text":"={{ $json[\"Номер\"] }}\n{{ $json[\"Название\"] }}\n{{ $json[\"Описание\"] }}\n{{ $json[\"Задание\"] }}","hasOutputParser":true,"options":{"systemMessage":"=РОЛЬ И ЗАДАЧА\nТы - генератор дополнительных материалов для учебного тренажера по работе с ИИ.\nЦелевая аудитория: управленческая команда проекта \"Московское долголетие\"\n\nВАЖНО: Ты НЕ решаешь задание. Ты создаешь ВХОДНЫЕ материалы (справки, таблицы, сценарии), которые участник будет использовать для решения задачи.\n\nАЛГОРИТМ РАБОТЫ\nШаг 1: Поиск информации\nЕсли упомянута реальная компания (Сбербанк, Светофор, АвтоВАЗ, ВкусВилл и т.д.) → ОБЯЗАТЕЛЬНО провести веб-поиск\n\nИскать: реальные новости, события, контекст о компании\n\nИспользовать реальные данные как основу, но СТРОГО соблюдать цифры из задания (даже если кажутся нереалистичными)\n\nШаг 2: Анализ задания\nОпределить:\n\nКакой материал нужен? (справка/таблица/сценарий/схема)\n\nКакую информацию он должен содержать?\n\nШаг 3: Генерация материала\nСтрогие лимиты объема:\n\nЛюбой материал: максимум 2000 символов с пробелами (НЕ ПРЕВЫШАТЬ!)\n\nТаблицы: максимум 15 строк, максимум 4 столбца\n\nПРАВИЛА ГЕНЕРАЦИИ\nОБЯЗАТЕЛЬНО:\nТолько входные данные - создавать материал для анализа, НЕ решение\n\nСтрого соблюдать цифры из задания - не корректировать и не изменять\n\nРеальный контекст где это возможно (или максимально правдоподобный)\n\nРеалистичные детали - номера документов, адреса, ФИО\n\nЯзык: русский\n\nОбезличивание - если в задании нет конкретных данных\n\nКонтроль объема - не превышать 2000 символов с пробелами\n\nЗАПРЕЩЕНО:\nРешать задание или давать рекомендации\n\nПисать выводы, заключения, прогнозы, анализ\n\nДобавлять подписи, печати, приложения (если их нет физически)\n\nУказывать даты в документах\n\nПревышать лимит 2000 символов\n\nПисать комментарии вне материала\n\nПисать мета-комментарии (\"Примечание для участника\", \"Используйте эти данные\")\n\nДавать рекомендации по решению (\"Требуется\", \"Необходимо сделать\")\n\nИспользовать провокационные темы (коррупция, острые темы)\n\nОтсылаться к номеру задания или указывать, что данные для адаптации\n\nСТРУКТУРА МАТЕРИАЛОВ\nСправки/Отчеты\nТолько разделы с фактическими данными:\n\nЗаголовок - название документа\n\nОбщая информация - кто, что, контекст\n\nСтатистика - ключевые цифры из задания\n\nДетализация - категории, примеры, регионы\n\nИзъятия/меры - если применимо\n\nОписывай факты, не действия\n\nЕсли в задании есть поручение (написать письмо, составить план) - опиши КОНТЕКСТ и ДАННЫЕ, но не давай инструкций\n\nНЕ включать: заключения, рекомендации, подписи, прогнозы, даты\n\nТаблицы данных\nРеалистичные данные без дат\n\nМаксимум 15 строк, максимум 4 столбца\n\nСортировка по релевантности\n\nСценарии (для аудио/видео)\nСтруктура: хронометраж + реплики/действия\n\nТехнические указания\n\nФормат диалога или закадрового текста\n\nЧто сокращать при приближении к лимиту:\n\nУменьшить количество примеров в детализации\n\nСократить описания, оставив факты\n\nУбрать дублирующие данные\n\nНЕ СОКРАЩАТЬ: цифры из задания, структуру документа, источники\n\nФОРМАТ ВЫВОДА И ОФОРМЛЕНИЕ\nВАЖНО: Используй Markdown для структурирования документа!\n\nПравила форматирования:\n\nЗАГОЛОВКИ:\nОсновной заголовок документа: ## НАЗВАНИЕ ДОКУМЕНТА\n\nПодзаголовки разделов: ### Название раздела\n\nОбязательно оставляй пустую строку после заголовков\n\nВЫДЕЛЕНИЕ ТЕКСТА:\nЖирный текст для важных данных: **текст**\n\nКурсив для примечаний: *текст*\n\nНе злоупотребляй выделением - только ключевые цифры и термины\n\nСПИСКИ:\nМаркированные списки: используй дефис с пробелом (- пункт)\n\nНумерованные списки: используй цифры с точкой (1. пункт)\n\nКаждый пункт с новой строки\n\nОдин уровень вложенности (без подпунктов)\n\nТАБЛИЦЫ:\nИспользуй Markdown формат таблиц:\n\n| Заголовок 1 | Заголовок 2 | Заголовок 3 |\n|-------------|-------------|-------------|\n| Данные 1    | Данные 2    | Данные 3    |\n\nПервая строка - заголовки\n\nВторая строка - разделитель (дефисы)\n\nПоследующие строки - данные\n\nПРИМЕРЫ ПРАВИЛЬНОГО ОФОРМЛЕНИЯ\n\nПример 1: Справка\n\n## СПРАВКА О РЕЗУЛЬТАТАХ ПРОВЕРКИ ООО \"КОМПАНИЯ\"\n\n### Общие сведения\n\nПроверено объектов: **312**\nВыявлено нарушений: **34 000 000**\nЗакрыто магазинов: **76**\n\n### Нарушения по категориям\n\n| Категория | Количество | Доля |\n|-----------|------------|------|\n| Фальсификация | 11 900 000 | 35% |\n| Просрочка | 10 200 000 | 30% |\n| Хранение | 8 500 000 | 25% |\n| Прочее | 3 400 000 | 10% |\n\n### Региональное распределение\n\nПроверки проводились в 8 регионах РФ. Наибольшее количество нарушений выявлено в Центральном федеральном округе.\n\n**Детализация по типам продукции:**\n\n- Молочная продукция: 15 200 000 случаев\n- Мясная продукция: 10 800 000 случаев\n- Кондитерские изделия: 8 000 000 случаев\n\nПример 2: Детальная таблица\n\n### Детализация нарушений\n\n| № | Магазин | Адрес | Тип нарушения | Продукт | Объем |\n|---|---------|-------|---------------|---------|-------|\n| 1 | Светофор №45 | г. Москва, ул. Ленина, 12 | Просрочка | Молоко | 45 кг |\n| 2 | Светофор №78 | г. СПб, пр. Мира, 34 | Фальсификат | Сметана | 89 кг |\n| 3 | Светофор №12 | г. Казань, ул. Баумана, 56 | Хранение | Творог | 67 кг |\n\nРАЗРЕШЕННЫЕ ЭЛЕМЕНТЫ MARKDOWN:\n## для основного заголовка\n\n### для подзаголовков\n\n**текст** для жирного выделения\n\n*текст* для курсива\n\n- для маркированных списков\n\n1. для нумерованных списков\n\n| для таблиц\n\nЗАПРЕЩЕННЫЕ ЭЛЕМЕНТЫ:\n# одинарная решетка (используй ## или ###)\n\n__подчеркивания__ для выделения (используй **)\n\n` обратные кавычки для кода\n\n> угловые скобки для цитат\n\n--- горизонтальные линии\n\n[ссылки](url)\n\n![изображения](url)\n\nВАЖНО: Всегда проверяй итоговый объем - не более 2000 символов с пробелами!\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[144,3728],"id":"25e539fc-14bb-4016-8f2e-0d8c04a5dbfc","name":"AI Agent6"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[144,3936],"id":"95465f41-b069-40dc-b9f1-5fabc9a11903","name":"OpenRouter Chat Model6","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1JP4loEwmca86uUhanqU3QzX4OC2MnaTMrWn4_bfi93M","mode":"list","cachedResultName":"Законодательная власть","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JP4loEwmca86uUhanqU3QzX4OC2MnaTMrWn4_bfi93M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":619646394,"mode":"list","cachedResultName":"Лист9","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JP4loEwmca86uUhanqU3QzX4OC2MnaTMrWn4_bfi93M/edit#gid=619646394"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-560,3728],"id":"cad33239-afee-4e61-a9cd-32b1ee66d139","name":"Google Sheets Trigger5","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-352,3728],"id":"84464149-a0d6-44c4-ba23-93437c31a10e","name":"Loop Over Items","executeOnce":false,"alwaysOutputData":false},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-96,3728],"id":"473b5f9b-49b0-4210-85b8-713903a60a9c","name":"Wait","webhookId":"11ab65b4-a43c-43ed-9612-3ab88207b14a"},{"parameters":{"documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":499144166,"mode":"list","cachedResultName":"Кейсы(валидрованные)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=499144166"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-240,352],"id":"d4489a53-215f-4306-bd49-d4d0bff710c9","name":"Get row(s) in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Create a document').item.json.id }}:batchUpdate","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1184,3728],"id":"0c7ce927-be67-4222-a888-e3ee60a5b73b","name":"HTTP Request","credentials":{"oAuth2Api":{"id":"dtz96XdRSBW3uTPv","name":"Unnamed credential 2"}}},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $('AI Agent6').item.json.output }}","destinationKey":"html","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[704,3728],"id":"839b4542-d392-45b5-b2f7-29f4203efe10","name":"Markdown"},{"parameters":{"jsCode":"const html = $input.first().json.html || '';\nconst documentId = $input.first().json.id; // ✅ было .documentId — не работало\n\nlet plainText = html\n  .replace(/<h2>(.*?)<\\/h2>/g, '\\n\\n###H2###$1###H2END###\\n')\n  .replace(/<h3>(.*?)<\\/h3>/g, '\\n###H3###$1###H3END###\\n')\n  .replace(/<strong>(.*?)<\\/strong>/g, '###BOLD###$1###BOLDEND###')\n  .replace(/<p>/g, '')\n  .replace(/<\\/p>/g, '\\n')\n  .replace(/<ul>/g, '').replace(/<\\/ul>/g, '')\n  .replace(/<ol>/g, '').replace(/<\\/ol>/g, '')\n  .replace(/<li>/g, '• ').replace(/<\\/li>/g, '\\n')\n  .replace(/<table>/g, '').replace(/<\\/table>/g, '\\n')\n  .replace(/<tr>/g, '').replace(/<\\/tr>/g, '\\n')\n  .replace(/<td>/g, '').replace(/<\\/td>/g, ' | ')\n  .replace(/<th>/g, '').replace(/<\\/th>/g, ' | ')\n  .replace(/<br\\s*\\/?>/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst requests = [];\n\nconst cleanText = plainText\n  .replace(/###H2###/g, '').replace(/###H2END###/g, '')\n  .replace(/###H3###/g, '').replace(/###H3END###/g, '')\n  .replace(/###BOLD###/g, '').replace(/###BOLDEND###/g, '');\n\nrequests.push({\n  insertText: { location: { index: 1 }, text: cleanText }\n});\n\nconst h2Regex = /###H2###(.*?)###H2END###/g;\nlet match;\nwhile ((match = h2Regex.exec(plainText)) !== null) {\n  const headerText = match[1];\n  const startIndex = cleanText.indexOf(headerText);\n  if (startIndex >= 0) {\n    requests.push({\n      updateParagraphStyle: {\n        range: { startIndex: startIndex + 1, endIndex: startIndex + 1 + headerText.length },\n        paragraphStyle: { namedStyleType: 'HEADING_2' },\n        fields: 'namedStyleType'\n      }\n    });\n  }\n}\n\nconst h3Regex = /###H3###(.*?)###H3END###/g;\nwhile ((match = h3Regex.exec(plainText)) !== null) {\n  const headerText = match[1];\n  const startIndex = cleanText.indexOf(headerText);\n  if (startIndex >= 0) {\n    requests.push({\n      updateParagraphStyle: {\n        range: { startIndex: startIndex + 1, endIndex: startIndex + 1 + headerText.length },\n        paragraphStyle: { namedStyleType: 'HEADING_3' },\n        fields: 'namedStyleType'\n      }\n    });\n  }\n}\n\nconst boldRegex = /###BOLD###(.*?)###BOLDEND###/g;\nlet offset = 0;\nconst cleanTextForBold = plainText.replace(/###H2###|###H2END###|###H3###|###H3END###/g, '');\nwhile ((match = boldRegex.exec(cleanTextForBold)) !== null) {\n  const boldText = match[1];\n  const startIndex = cleanText.indexOf(boldText, offset);\n  if (startIndex >= 0) {\n    requests.push({\n      updateTextStyle: {\n        range: { startIndex: startIndex + 1, endIndex: startIndex + 1 + boldText.length },\n        textStyle: { bold: true },\n        fields: 'bold'\n      }\n    });\n    offset = startIndex + boldText.length;\n  }\n}\n\nreturn {\n  json: {\n    documentId,\n    requests // ✅ было JSON.stringify — не работало в n8n 4.3\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,3728],"id":"c6825934-69e9-4a30-97e6-62f83fa7f14e","name":"Code in JavaScript6"},{"parameters":{"folderId":"1SVZwHCxAbxdRIJjog2n4LO62bSvavX1H","title":"=Справочный материал - {{ $now.format('dd.MM.yyyy HH:mm') }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[496,3728],"id":"e1fe0945-c533-4392-b889-3d56904e2b69","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"z0jrK24hBmhjO5QL","name":"Google Docs account"}}},{"parameters":{"jsCode":"const rawOutput = $input.first().json.output;\n\n// Парсим строку в массив\nlet data;\ntry {\n  data = JSON.parse(rawOutput);\n} catch (error) {\n  throw new Error('Не удалось распарсить JSON: ' + error.message);\n}\n\n// Проверяем, что это массив\nif (!Array.isArray(data)) {\n  throw new Error('После парсинга должен быть массив, получено: ' + typeof data);\n}\n\nreturn data.map(item => ({\n  json: {\n    номер_карты: item['Карта_Id'] || '',\n    исходный_кейс: item['Номер_кейса'] || '',\n    название: item['Название'] || '',\n    луч: item['Луч'] || '',\n    описание: item['Description'] || '',\n    задача: item['Task'] || '',\n    допматериал: item['Доп_материал'] || '',\n    типЗадачи: item['Доп. материал'] || ''\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,2032],"id":"4eac634d-9660-409f-9292-932a99b0537b","name":"Code in JavaScript9"},{"parameters":{"assignments":{"assignments":[{"id":"373d5a19-58ef-4fa8-b710-8c7d722c0420","name":"","value":"[{\"№ Исходного кейса\": 17, \"№\": 1, \"Название\": \"Наставники будущего\", \"Луч\": \"Знание и навыки\", \"Description\": \"Запланировано открытие Высшей школы педагогики. Текущий кадровый резерв с трудом закрывает летние смены, а методисты управлений перегружены текучкой. Возникает стратегический разрыв: нам нужно готовить эталонных наставников для всей страны, но базируемся мы на тех, кто выгорел в режиме нон-стоп.\", \"Task\": \"Спроектируйте многоуровневую матрицу компетенций для будущих преподавателей Школы. Опишите три грейда профессионализма и механизмы перехода из рядовых сотрудников в эксперты.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 5, \"№\": 2, \"Название\": \"Конвейер вожатых\", \"Луч\": \"Знание и навыки\", \"Description\": \"Система держится на ротации практикантов: первая смена уходит на адаптацию, вторая на работу, затем они уезжают. Опытные сотрудники постоянно обучают новичков без компенсации. Нагрузка в пик сезона удваивается, что делает невозможным удержание сильных педагогов, превращая лагерь в тренировочную базу.\", \"Task\": \"Разработайте комплексный маршрут профессионального развития для практикантов, позволяющий ускорить их адаптацию до трех дней. Включите механизмы мотивации для снижения нагрузки на наставников.\", \"Доп. материал\": \"Генерация\"},{\"№ Исходного кейса\": 31, \"№\": 3, \"Название\": \"Нормативы и жизнь\", \"Луч\": \"Знание и навыки\", \"Description\": \"Официальный договор устанавливает семичасовой рабочий день. Фактически педагоги начинают в половину восьмого утра и заканчивают заполночь после долгих планерок. Этот системный разрыв между юридической нормой и реальной практикой провоцирует текучесть кадров и скрытое недовольство в коллективах лагерей.\", \"Task\": \"Сформируйте проект обновленного регламента рабочего времени. Зафиксируйте в документе легальные механизмы учета переработок, распределения задач напарников и обязательные периоды отдыха персонала.\", \"Доп. материал\": \"Генерация\"},{\"№ Исходного кейса\": 9, \"№\": 4, \"Название\": \"Провал в оргпериод\", \"Луч\": \"Знание и навыки\", \"Description\": \"Кандидаты проходят жесткий конкурс бумаг и онлайн-отбор. Однако их профессиональная непригодность часто выявляется только в первые дни смены. В этот период действует нулевая терпимость к оставлению детей одних, что блокирует возможность быстрой замены. Лагерь несет репутационные риски из-за увольнений.\", \"Task\": \"Составьте алгоритм экспресс-оценки психологической устойчивости педагога в первые трое суток. Опишите порядок экстренной ротации состава без нарушения требований безопасности пребывания обучающихся.\", \"Доп. материал\": \"Генерация\"},{\"№ Исходного кейса\": 1, \"№\": 5, \"Название\": \"Опасное выгорание\", \"Луч\": \"Знание и навыки\", \"Description\": \"Сотрудники работают по пятнадцать часов при одном выходном за смену. Хронический недосып приводит к учащению больничных, но болеть считается стыдным из-за нагрузки на напарников. Накапливается системная усталость, которая становится главной причиной отказов специалистов возвращаться на следующий сезон.\", \"Task\": \"Проведите анализ сильных и слабых сторон действующей модели организации труда. Предложите стратегию перехода от культуры трудового подвига к культуре сохранения здоровья педагогического коллектива.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 33, \"№\": 6, \"Название\": \"Специфика партнеров\", \"Луч\": \"Знание и навыки\", \"Description\": \"Новые педагоги проходят общую подготовку, но в лагере сталкиваются с десятками партнерских программ. Информационно-методическое сопровождение процесса запаздывает, профильные партнеры требуют специфических навыков. Возникает конфликт ожиданий между организаторами профильных отрядов и базовыми педагогами.\", \"Task\": \"Подготовьте структуру презентационных материалов для оперативного погружения новых сотрудников в специфику профильных отрядов. Опишите порядок взаимодействия с внешними экспертами на территории центра.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 2, \"№\": 7, \"Название\": \"Выездной формат\", \"Луч\": \"Внешнее взаимодействие\", \"Description\": \"Первый опыт реализации наших программ на базе регионального лагеря вскрыл проблемы логистики. Пришлось везти расходные материалы и на ходу адаптировать чужие площадки под наши стандарты. План-сетка местного учреждения критически не совпадала с логикой нашего образовательного процесса, вызывая хаос.\", \"Task\": \"Разработайте организационную модель развертывания выездных программ в регионах. Укажите критерии оценки местной инфраструктуры и протокол синхронизации расписаний с принимающей образовательной стороной.\", \"Доп. материал\": \"Генерация\"},{\"№ Исходного кейса\": 23, \"№\": 8, \"Название\": \"Бунт родителей\", \"Луч\": \"Внешнее взаимодействие\", \"Description\": \"Зафиксирован инцидент: один ребенок приехал седьмой раз, хотя правило ограничивает визиты одним разом в год. Система распределения путевок декларирует прозрачность, но подобные сбои вызывают лавину негатива от родителей высокобалльников. Уровень доверия к цифровому отбору в родительском сообществе падает.\", \"Task\": \"Трансформируйте политику коммуникации с родительским сообществом. Опишите антикризисный алгоритм обработки массовых жалоб на несправедливость отбора и порядок работы с лидерами мнений в социальных сетях.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 25, \"№\": 9, \"Название\": \"Требования к еде\", \"Луч\": \"Внешнее взаимодействие\", \"Description\": \"Подготовка к крупному тендеру на два миллиарда рублей требует жесткой фиксации качества. Внешний подрядчик часто оптимизирует издержки, что сказывается на сервисе. Управлению необходимо заложить в контракт такие метрики, которые защитят интересы детей, но не отпугнут крупных игроков рынка сложными штрафами.\", \"Task\": \"Сформулируйте блок сервисных требований для подрядчика по питанию. Определите ключевые показатели эффективности, порядок ежедневного контроля качества и механизмы оперативного разрешения споров в столовой.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 4, \"№\": 10, \"Название\": \"Транзитные зоны\", \"Луч\": \"Внешнее взаимодействие\", \"Description\": \"Для прибывающих организован зеленый коридор на вокзалах с обязательным медицинским осмотром. Однако стыковка внешних транспортных узлов и нашей медицинской службы регулярно дает сбои. Врачи-инфекционисты перегружены в пики заездов, а задержки рейсов ломают логистику доставки здоровых групп на территорию.\", \"Task\": \"Проанализируйте слабые места маршрутизации детей на внешних точках прибытия. Предложите модель перераспределения медицинских ресурсов для обеспечения бесперебойного фильтра в условиях задержки транспорта.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 24, \"№\": 11, \"Название\": \"Кормление заездов\", \"Луч\": \"Внешнее взаимодействие\", \"Description\": \"Функция питания выведена во внешний контур. Главная управленческая боль — синхронизировать работу подрядчика с массовыми заездами. Дети должны получать горячую еду немедленно по прибытии, но плавающее расписание автобусов ломает графики готовки. Подрядчик несет убытки из-за списаний остывших порций.\", \"Task\": \"Разработайте регламент информационного обмена между логистической службой и подрядчиком по питанию. Установите временные окна корректировки заявок на порции без выставления финансовых претензий лагерю.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 57, \"№\": 12, \"Название\": \"Потерянные заявки\", \"Луч\": \"Внешнее взаимодействие\", \"Description\": \"До внедрения единого контактного центра обращения сыпались на десятки разрозненных адресов управлений. В сезон старта смен часть писем безвозвратно терялась, сроки официальных ответов нарушались. Даже при наличии новой системы профильные отделы продолжают использовать старые каналы для связи по привычке.\", \"Task\": \"Создайте стратегию перевода всех внешних коммуникаций в единый цифровой контур. Опишите поэтапный отказ от личных почт подразделений и регламент формирования базы знаний для стандартизации ответов колл-центра.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 15, \"№\": 13, \"Название\": \"Расписание лагерей\", \"Луч\": \"Единая образовательная среда\", \"Description\": \"Согласование сетки между девятью лагерями, сотней партнеров и секциями ведется с трудом. Документооборот автоматизирован, но узкие места остались: пересечения общелагерных событий и профильных программ решаются в ручном режиме. Конфликты за лучшие площадки между начальниками лагерей тормозят процесс.\", \"Task\": \"Проведите анализ сильных и слабых сторон централизованного и децентрализованного подходов к составлению расписания. Сформируйте матрицу ролевого доступа для автоматического разрешения конфликтов за ресурсы.\", \"Доп. материал\": \"Генерация\"},{\"№ Исходного кейса\": 37, \"№\": 14, \"Название\": \"Технический голод\", \"Луч\": \"Единая образовательная среда\", \"Description\": \"Программы медиастудий требуют стабильного беспроводного интернета и проекторов. В пик сезона на три тысячи детей возникает жесткий дефицит оборудованных помещений. Разрыв между передовыми образовательными программами и реальным состоянием инфраструктуры приводит к срыву занятий и жалобам преподавателей.\", \"Task\": \"Составьте план аудита текущего технического оснащения образовательных площадок. Предложите алгоритм квотирования дефицитного оборудования между общеобразовательной школой и сектором дополнительного образования.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 28, \"№\": 15, \"Название\": \"Цифровое ядро\", \"Луч\": \"Единая образовательная среда\", \"Description\": \"Платформа обновляется: меняется архитектура, внедряется модуль среды обучения. Устаревший код мешает интеграции с внешними государственными базами. Пользователи жалуются на сложный интерфейс, а техническая дирекция задыхается от поддержки костылей. Развитие тормозится сопротивлением старых сотрудников.\", \"Task\": \"Разработайте регламент вывода из эксплуатации устаревших модулей платформы. Опишите процесс бесшовного перевода сотрудников на новые интерфейсы с минимальным отрывом от управления образовательным процессом.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 38, \"№\": 16, \"Название\": \"Дележ акватории\", \"Луч\": \"Единая образовательная среда\", \"Description\": \"Морские программы требуют доступа к лодкам и береговой линии. Возникает конкуренция между лагерями за четыре километра пляжа. Расписание сжимается в жесткие окна из-за требований безопасности и дежурств матросов. Планирование на бумаге ведет к простоям флота, пока одни отряды ждут, а другие опаздывают.\", \"Task\": \"Спроектируйте архитектуру цифрового модуля для динамического бронирования морской инфраструктуры. Включите функции автоматической отмены брони при штормовом предупреждении и оповещения спасательных служб.\", \"Доп. материал\": \"Генерация\"},{\"№ Исходного кейса\": 50, \"№\": 17, \"Название\": \"Стройка и программы\", \"Луч\": \"Единая образовательная среда\", \"Description\": \"Масштабное строительство нового центра временно вывело из строя ключевые объекты: столовую, спорткомплекс и медицинский блок. Программы пришлось экстренно переносить к соседям. Возникла перегрузка аудиторного фонда, а качество образовательного продукта снизилось из-за вынужденного объединения разных потоков.\", \"Task\": \"Трансформируйте концепцию реализации программ в условиях строительных ограничений. Предложите варианты использования альтернативных локаций без потери имиджа высокотехнологичного образовательного пространства.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 40, \"№\": 18, \"Название\": \"Трудные подростки\", \"Луч\": \"Единая образовательная среда\", \"Description\": \"Психологическая служба работает автономно, помогая детям при сложной адаптации или агрессии. Однако педагоги часто затягивают с обращением к психологу, пытаясь решить конфликты своими силами. Это приводит к эскалации инцидентов, выгоранию персонала и жалобам родителей на некомпетентность сотрудников отряда.\", \"Task\": \"Разработайте систему индикаторов раннего выявления кризисных ситуаций в отряде. Опишите механизм обязательной передачи сложных случаев в психологическую службу на основе анализа поведения и жалоб обучающихся.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 30, \"№\": 19, \"Название\": \"Падение портала\", \"Луч\": \"Защита данных\", \"Description\": \"Системы мониторинга регулярно фиксируют отказы главного портала учреждения. В моменты простоев полностью останавливается прием заявок и загрузка персональных документов. Отсутствие регламентированного резервного канала вызывает панику у региональных операторов и создает хаос в отделах комплектования смен.\", \"Task\": \"Сформируйте пошаговый план реагирования на отказ внешнего веб-портала. Опишите защищенные резервные каналы сбора персональных данных и алгоритм информирования пользователей о сроках восстановления работоспособности.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 53, \"№\": 20, \"Название\": \"Сбой базы статусов\", \"Луч\": \"Защита данных\", \"Description\": \"После проверки заявок в личном кабинете у семей не отображалось изменение статуса на принятую. Система не обновила данные в пользовательском интерфейсе. Родители массово дублировали документы, перегружая каналы связи и нарушая логику работы базы данных. Специалистам пришлось сверять реестры вручную по ночам.\", \"Task\": \"Проведите аудит процесса синхронизации статусов между внутренней базой и личными кабинетами. Разработайте протокол верификации данных, исключающий возможность компрометации реестра при массовой загрузке файлов.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 28, \"№\": 21, \"Название\": \"Защита платформы\", \"Луч\": \"Защита данных\", \"Description\": \"Модернизация цифрового ядра потребовала усиления защиты информации. Интеграция с внешними ведомственными системами открыла новые уязвимости. Главной угрозой остается человеческий фактор: сотрудники отделов используют простые пароли и пересылают списки детей в незащищенных мессенджерах для ускорения работы.\", \"Task\": \"Спроектируйте архитектуру внутреннего модуля обучения базовой цифровой гигиене. Определите форматы тестирования персонала на устойчивость к фишингу и правила безопасного обмена списками между подразделениями.\", \"Доп. материал\": \"Генерация\"},{\"№ Исходного кейса\": 23, \"№\": 22, \"Название\": \"Уязвимость отбора\", \"Луч\": \"Защита данных\", \"Description\": \"Родительское сообщество вскрыло факт многократного посещения центра одним ребенком в обход правил. Инцидент выявил критическую уязвимость в логике цифрового отбора и проверки дубликатов профилей. Доверие к защищенности данных системы распределения путевок оказалось подорвано публикациями в федеральных СМИ.\", \"Task\": \"Проанализируйте алгоритмы верификации уникальности пользователей в системе отбора. Предложите технические и административные барьеры, блокирующие возможность создания подставных аккаунтов для обхода ограничений.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 57, \"№\": 23, \"Название\": \"Доступ к базе\", \"Луч\": \"Защита данных\", \"Description\": \"Внедрение аппаратно-программного комплекса контактного центра объединило все каналы связи. Операторы получили доступ к огромному массиву персональных обращений. Возникла угроза утечки данных: текучесть кадров в службе поддержки высока, а права доступа не дифференцированы. Любой стажер видит всю историю жалоб.\", \"Task\": \"Сравните модели управления доступом к единой базе обращений. Разработайте матрицу ролей для операторов контакт-центра, ограничивающую видимость чувствительной информации в зависимости от уровня допуска сотрудника.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 36, \"№\": 24, \"Название\": \"Транспортный допуск\", \"Луч\": \"Защита данных\", \"Description\": \"Филиал заключил контракт на предрейсовый осмотр автобусов со сторонней организацией. Контроль технического состояния передан во внешний контур. Юридическая служба фиксирует риски: в случае ДТП ответственность размывается между внутренним автопарком и внешним подрядчиком, а документация часто заполняется формально.\", \"Task\": \"Разработайте регламент аудита качества внешних услуг по контролю транспорта. Опишите чек-лист проверки сопроводительных документов для исключения юридических рисков при организации массовых детских перевозок.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 38, \"№\": 25, \"Название\": \"Узкие окна моря\", \"Луч\": \"Данные и аналитика\", \"Description\": \"Расписание выхода на воду зависит от погоды, дежурств спасателей и наличия шлюпок. Руководители программ планируют занятия без учета исторических данных о штормах, что приводит к массовым отменам. Возникает эффект домино: срыв морского блока ломает сетку мероприятий в других локациях лагеря в масштабах дня.\", \"Task\": \"Создайте модель прогнозирования доступности акватории на основе исторических метеоданных и нормативов МЧС. Предложите алгоритм предиктивной корректировки расписания за двое суток до ожидаемых погодных изменений.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 53, \"№\": 26, \"Название\": \"Апелляции и данные\", \"Луч\": \"Данные и аналитика\", \"Description\": \"Технический сбой статусов заявок породил волну апелляций. Отдел комплектования получает данные из системы заявок, почты техподдержки и телефонных звонков региональных операторов. Источники не синхронизированы, из-за чего один и тот же ребенок может числиться и в отказе, и в резерве, вызывая конфликты квот.\", \"Task\": \"Проведите инвентаризацию потоков данных при обработке заявок. Сформируйте единый реестр источников правды и опишите регламент разрешения коллизий при противоречии информации в разных базах учреждения.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 50, \"№\": 27, \"Название\": \"Дефицит аудиторий\", \"Луч\": \"Данные и аналитика\", \"Description\": \"Из-за реконструкции объектов одного из лагерей тысячи детей переведены на смежные площадки. Управление образовательными программами не видит реальную картину занятости помещений: таблицы обновляются с опозданием. Преподаватели буквально сталкиваются в коридорах, претендуя на одну и ту же лабораторию в одно время.\", \"Task\": \"Спроектируйте структуру аналитической панели для мониторинга загрузки аудиторного фонда в реальном времени. Определите три ключевые метрики, которые позволят диспетчерам пресекать наложения расписаний до их начала.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 15, \"№\": 28, \"Название\": \"Стыковка событий\", \"Луч\": \"Данные и аналитика\", \"Description\": \"Бумажный документооборот заменен цифровым, но планирование масштабных мероприятий страдает от неравномерности. В одни дни инфраструктура пустует, в другие — на стадион претендуют сразу три лагеря. Руководители не имеют инструмента оценки пиковых нагрузок на логистику, питание и охрану при слиянии потоков.\", \"Task\": \"Разработайте методологию оценки нагрузки на инфраструктуру. Опишите алгоритм математического распределения событий по дням смены для выравнивания плотности занятости ресурсов и исключения логистических коллапсов.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 24, \"№\": 29, \"Название\": \"Пики заездов\", \"Луч\": \"Данные и аналитика\", \"Description\": \"Процесс организации питания критически зависит от точности данных о заездах. Логисты подают примерные цифры, а порции готовятся по жестким нормативам. Разница между прогнозом и фактом выливается в миллионные списания. Руководители спорят, кто должен нести финансовую ответственность за несъеденные обеды в день заезда.\", \"Task\": \"Создайте алгоритм расчета потребности в порциях в дни массового заезда на основе данных о прибытии рейсов. Сформируйте прозрачную систему распределения финансовой ответственности между отделами за ошибки в прогнозах.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 30, \"№\": 30, \"Название\": \"Аналитика отказов\", \"Луч\": \"Данные и аналитика\", \"Description\": \"Периодическая недоступность главного сайта парализует работу. Техническая служба фиксирует только сам факт падения, но не анализирует последствия. Руководство не понимает реальный масштаб ущерба: сколько заявок не подано вовремя, сколько жалоб поступило в колл-центр и какие регионы пострадали сильнее всего.\", \"Task\": \"Разработайте систему сбора аналитики косвенных потерь при технических отказах инфраструктуры. Предложите метрики оценки влияния простоев серверов на уровень удовлетворенности региональных партнеров и родителей.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 57, \"№\": 31, \"Название\": \"Маршрутизация ЕКЦ\", \"Луч\": \"Автоматизация\", \"Description\": \"Контакт-центр внедрил модули автодозвона и базовую маршрутизацию. Однако первая линия операторов все еще захлебывается в однотипных вопросах о справках и сроках. База знаний огромна, но пользователи не хотят ее читать, требуя живого ответа. Время ожидания на линии в пик сезона превышает допустимые нормы учреждения.\", \"Task\": \"Спроектируйте логику работы текстового ассистента для снятия нагрузки с первой линии поддержки. Разработайте древо сценариев для автоматического решения пяти самых массовых типовых запросов без участия человека.\", \"Доп. материал\": \"Генерация\"},{\"№ Исходного кейса\": 37, \"№\": 32, \"Название\": \"Бронь оборудования\", \"Луч\": \"Автоматизация\", \"Description\": \"Матрица занятости медиаплощадок ведется в общей системе, но выдача дорогостоящей техники фиксируется на бумаге. Материально ответственные лица тратят часы на инвентаризацию, а преподаватели регулярно не могут найти нужный провод. Из-за отсутствия трекинга оборудование быстро выходит из строя или теряется.\", \"Task\": \"Определите точки внедрения цифрового учета в процесс выдачи оборудования. Предложите техническое решение для автоматической привязки выданного инвентаря к конкретному занятию и личной карточке преподавателя в системе.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 42, \"№\": 33, \"Название\": \"Ночные дежурства\", \"Луч\": \"Автоматизация\", \"Description\": \"Впервые зафиксирован финансовый механизм оплаты ночных выходов педагогов. Раньше процесс строился на личных договоренностях, что порождало фаворитизм и конфликты. Теперь появился бюджет, но нет прозрачного алгоритма его распределения. Возникают споры: кому ставить дежурство — уставшему опытному или бодрому новичку.\", \"Task\": \"Разработайте прозрачную систему критериев для назначения на оплачиваемые ночные дежурства. Сформулируйте метрики оценки качества работы в ночную смену, влияющие на получение дополнительных стимулирующих выплат.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 4, \"№\": 34, \"Название\": \"Статусы заезда\", \"Луч\": \"Автоматизация\", \"Description\": \"Прибытие тысяч детей через зеленые коридоры вокзалов требует четкой координации. Родители обрывают телефоны горячей линии, пытаясь узнать, прошел ли ребенок медосмотр и сел ли в автобус. Операторы не успевают обновлять информацию. Уровень тревожности растет, провоцируя конфликты с представителями лагеря на местах.\", \"Task\": \"Сформируйте схему автоматических триггерных рассылок для родителей в день заезда. Опишите цепочку уведомлений от момента прохождения медицинского фильтра на вокзале до прибытия в жилой корпус на территории учреждения.\", \"Доп. материал\": \"Трансформация\"},{\"№ Исходного кейса\": 28, \"№\": 35, \"Название\": \"Интеграция систем\", \"Луч\": \"Автоматизация\", \"Description\": \"Платформа обросла новым модулем среды обучения. Проектная команда требует немедленного перевода всех пользователей на новую версию. Операционные руководители сопротивляются, опасаясь паралича процессов в разгар летней кампании. Возникает жесткий конфликт между планом цифровизации и непрерывностью работы учреждения.\", \"Task\": \"Создайте дорожную карту поэтапного внедрения нового цифрового модуля. Разнесите этапы миграции данных, обучения персонала и тестирования функционала так, чтобы исключить риски сбоев в период проведения летних смен.\", \"Доп. материал\": \"Генерация\"},{\"№ Исходного кейса\": 33, \"№\": 36, \"Название\": \"Обучение партнеров\", \"Луч\": \"Автоматизация\", \"Description\": \"Внедрение программ тематических партнеров требует настройки доступов в цифровую систему и синхронизации методических планов. Сейчас методисты вручную копируют данные из партнерских презентаций в наши внутренние формы и создают учетные записи. Это рутина, съедающая сотни часов квалифицированного труда перед каждой сменой.\", \"Task\": \"Разработайте алгоритм программной роботизации для обработки анкет партнерских программ. Опишите сценарий автоматического переноса данных из внешних заявок во внутренние системы планирования без ручного копирования.\", \"Доп. материал\": \"Трансформация\"}]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,2016],"id":"a122b476-d744-4bc4-9c4c-22c1139942f0","name":"Edit Fields"}],"connections":{"Append row in sheet1":{"main":[[]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Google Sheets Trigger2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Google Sheets Trigger1":{"main":[[{"node":"Get row(s) in sheet5","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Google Sheets Trigger3":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Aggregate2","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code in JavaScript8","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]},"Code in JavaScript7":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Code in JavaScript8":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"AI Agent4":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Google Sheets Trigger4":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0}]]},"AI Agent6":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"OpenRouter Chat Model6":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0}]]},"Google Sheets Trigger5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"Get row(s) in sheet5":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Code in JavaScript9":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","sheetId":1922465819,"lastRevision":3969,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY&revision=3969&exportFormat=xlsx"},"node:Google Sheets Trigger1":{"documentId":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","sheetId":1922465819,"lastRevision":1066,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM&revision=1066&exportFormat=xlsx"},"node:Google Sheets Trigger2":{"documentId":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","sheetId":1922465819,"lastRevision":1066,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM&revision=1066&exportFormat=xlsx"},"node:Google Sheets Trigger3":{"documentId":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","sheetId":1922465819,"lastRevision":3969,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY&revision=3969&exportFormat=xlsx"},"node:Google Sheets Trigger4":{"documentId":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","sheetId":1922465819,"lastRevision":3969,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY&revision=3969&exportFormat=xlsx"},"node:Google Sheets Trigger5":{"documentId":"1JP4loEwmca86uUhanqU3QzX4OC2MnaTMrWn4_bfi93M","sheetId":619646394,"lastRevision":236,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1JP4loEwmca86uUhanqU3QzX4OC2MnaTMrWn4_bfi93M&revision=236&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1a22d6fd-ba6f-4897-b5d0-3dad11e92ca4","activeVersionId":"1f0445f6-9cbc-4b46-8263-128a079c5b0e","versionCounter":1033,"triggerCount":6,"shared":[{"updatedAt":"2025-11-24T12:43:44.662Z","createdAt":"2025-11-24T12:43:44.662Z","role":"workflow:owner","workflowId":"D2FUc9ESHv4XWp7b","projectId":"enlLG60OaWCRDvUE","project":{"updatedAt":"2025-11-24T10:19:01.336Z","createdAt":"2025-11-24T10:18:34.657Z","id":"enlLG60OaWCRDvUE","name":"Admin Admin <superkanal1122@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2f67f295-223b-49c3-8843-e0c4e0815d98","projectRelations":[{"updatedAt":"2025-11-24T10:18:34.657Z","createdAt":"2025-11-24T10:18:34.657Z","userId":"2f67f295-223b-49c3-8843-e0c4e0815d98","projectId":"enlLG60OaWCRDvUE","user":{"updatedAt":"2026-06-17T17:40:07.173Z","createdAt":"2025-11-24T10:18:34.003Z","id":"2f67f295-223b-49c3-8843-e0c4e0815d98","email":"superkanal1122@gmail.com","firstName":"Admin","lastName":"Admin","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"D2FUc9ESHv4XWp7b","userActivatedAt":1764004901802,"dismissedCallouts":{"aiAgentStarterCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1767080058618}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-09T10:05:23.165Z","createdAt":"2026-04-09T10:05:00.356Z","versionId":"1f0445f6-9cbc-4b46-8263-128a079c5b0e","workflowId":"D2FUc9ESHv4XWp7b","nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1564800784,"mode":"list","cachedResultName":"Промты для поиска","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=1564800784"},"columns":{"mappingMode":"defineBelow","value":{"Number":"={{ $json['номер'] }}","Prompt":"={{ $json['промпт'] }}"},"matchingColumns":[],"schema":[{"id":"Number","displayName":"Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[352,-144],"id":"a4d81de8-5ba1-46de-8464-99e035de7251","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"model":"google/gemini-3.1-pro-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-240,80],"id":"9aa5496b-6d19-4a87-8cb6-609df380a303","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json[\"Создание Базовых промтов\"] }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json[\"Тема колоды\"] }}\n{{ $json[\"Аудитория\"] }}\n{{ $json['Ядро'] }}\n{{ $json[\"Инструкция\"] }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-224,-144],"id":"9e477d03-67fa-4210-bb50-e9fb5c971426","name":"AI Agent"},{"parameters":{"jsCode":"const input = $input.first().json;\n\nlet parsed;\nif (typeof input.output === 'string') {\n  parsed = JSON.parse(input.output); // здесь уже массив строк\n} else {\n  parsed = input.output;\n}\n\nif (!Array.isArray(parsed)) {\n  throw new Error('Expected array of prompts');\n}\n\n// Собираем весь промпт в одну строку\nreturn parsed.map((prompt, index) => ({\n  json: {\n    номер: index + 1,\n    промпт: prompt // если нужно красиво, можно без JSON.stringify\n    // или промпт: JSON.stringify(prompt, null, 2) если дальше нужен именно текст с экранированием\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-144],"id":"7211c490-2b44-49cc-aef4-487d99aa782b","name":"Code in JavaScript"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1922465819,"mode":"list","cachedResultName":"Базовые промты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=1922465819"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-480,352],"id":"496a906b-37e2-4098-8091-8ec5d5cb6121","name":"Google Sheets Trigger1","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1922465819,"mode":"list","cachedResultName":"Базовые промты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=1922465819"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-448,-144],"id":"ea735de8-ce10-4e29-bd34-6fb6af6dc162","name":"Google Sheets Trigger2","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.data, null, 2) }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Google Sheets Trigger1').item.json[\"Тема колоды\"] }}\n{{ $('Google Sheets Trigger1').item.json[\"Аудитория\"] }}\n{{ $('Google Sheets Trigger1').item.json['Валидация'] }}\n{{ $('Google Sheets Trigger1').item.json[\"Инструкция\"] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[208,352],"id":"fab5f03f-d2fc-4b24-b3f9-02babdcbe0aa","name":"AI Agent1"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[192,576],"id":"90a9faac-f05e-42ab-aaaf-07cc588863ca","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=data","include":"allFieldsExcept","fieldsToExclude":"Оценка, Аналитика, Оценка, ТИП, row_number, Ссылка, Статус, col_10, Тип проблемы","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-32,352],"id":"38b63ff4-d8d0-424d-8d9b-954886de25a2","name":"Aggregate"},{"parameters":{"jsCode":"// 1. Получаем входные данные\nconst rawOutput = $input.first().json.output;\nlet allCases = [];\n\n// 2. Блок парсинга\ntry {\n  if (typeof rawOutput === 'object' && rawOutput !== null) {\n    allCases = Array.isArray(rawOutput) ? rawOutput : [rawOutput];\n  } else if (typeof rawOutput === 'string') {\n    const parsed = JSON.parse(rawOutput);\n    allCases = Array.isArray(parsed) ? parsed : [parsed];\n  }\n} catch (e) {\n  // Попытка \"хирургии\"\n  try {\n    if (typeof rawOutput === 'string') {\n      const lastBraceIndex = rawOutput.lastIndexOf('}');\n      if (lastBraceIndex !== -1) {\n        const fixedString = rawOutput.substring(0, lastBraceIndex + 1) + ']';\n        const parsed = JSON.parse(fixedString);\n        allCases = Array.isArray(parsed) ? parsed : [parsed];\n      }\n    }\n  } catch (e2) {\n    // Критическая ошибка - возвращаем диагностику\n    return [{\n      json: {\n        error: 'Parsing failed',\n        rawType: typeof rawOutput,\n        rawSample: String(rawOutput).substring(0, 200)\n      }\n    }];\n  }\n}\n\n// 3. Проверка что allCases - массив\nif (!Array.isArray(allCases)) {\n  return [{\n    json: {\n      error: 'Data is not an array',\n      dataType: typeof allCases,\n      data: allCases\n    }\n  }];\n}\n\n// 4. Вспомогательная функция\nconst getValue = (item, possibleKeys) => {\n  for (let key of possibleKeys) {\n    if (item.hasOwnProperty(key) && item[key] !== undefined && item[key] !== null) {\n      return item[key];\n    }\n  }\n  return \"\";\n};\n\n// 5. Маппинг данных\nreturn allCases.map(item => ({\n  json: {\n    номер: getValue(item, [\"№\", \"Номер\", \"number\", \"card_id\", \"id\"]),\n    аналитика: getValue(item, [\"Аналитика\", \"analytics\", \"text\", \"description\"]),\n    оценка: getValue(item, [\"Оценка\", \"score\", \"rating\"]),\n    группа: getValue(item, [\"Группа\", \"group\", \"category\"])\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,352],"id":"74a47537-6e14-4a1f-b425-845f67eeacc3","name":"Code in JavaScript2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":499144166,"mode":"list","cachedResultName":"Кейсы(валидрованные)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=499144166"},"columns":{"mappingMode":"defineBelow","value":{"Номер":"={{ $json['номер'] }}","Оценка":"={{ $json['оценка'] }}","ТИП":"={{ $json['группа'] }}","Аналитика":"={{ $json['аналитика'] }}"},"matchingColumns":["Номер"],"schema":[{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название кейса","displayName":"Название кейса","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Суть","displayName":"Суть","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ссылка","displayName":"Ссылка","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Тип проблемы","displayName":"Тип проблемы","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Аналитика","displayName":"Аналитика","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Оценка","displayName":"Оценка","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ТИП","displayName":"ТИП","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[784,352],"id":"b90a6679-f408-4fa2-8d16-e06866947fb6","name":"Update row in sheet","alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1922465819,"mode":"list","cachedResultName":"Базовые промты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1922465819"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-496,1072],"id":"b1d8a1ac-27ad-400c-a134-051dc666cd78","name":"Google Sheets Trigger3","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.кейсы, null, 2) }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Google Sheets Trigger3').item.json['Тема колоды'] }}\n{{ $('Google Sheets Trigger3').item.json[\"Аудитория\"] }}\n{{ $('Google Sheets Trigger3').item.json['Генерация карт Я'] }}\n{{ $('Google Sheets Trigger3').item.json['Инструкция'] }}\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[752,1072],"id":"eacca20a-1ced-4217-a7fc-091120e59884","name":"AI Agent2"},{"parameters":{"model":"google/gemini-3-pro-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[752,1280],"id":"00e6f08f-e191-4b18-8742-1c95a1e90f86","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":499144166,"mode":"list","cachedResultName":"Кейсы(валидрованные)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=499144166"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-272,1072],"id":"c24033b4-23cf-4eb8-a8ea-f489c75801bb","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const data = JSON.parse($input.first().json.output);\n\nif (!Array.isArray(data)) {\n  throw new Error('После парсинга должен быть массив, получено: ' + typeof data);\n}\n\nreturn data.map(item => {\n  return {\n    json: {\n      номер_карты: item['№ Порядковый номер карты'] || item['№'] || '',\n      исходный_кейс: item['Номер Исходного кейса'] || item['№ Исходного кейса'] || '',\n      название: item['Название'] || '',\n      тип: item['ТИП'] || item['Луч'] || '',\n      описание: item['Description'] || '',\n      задача: item['Task'] || '',\n      допматериал: item['Доп_материал'] || item['Доп. материал'] || ''\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,1072],"id":"7e028956-ffd6-4b2f-adff-d6104f80d472","name":"Code in JavaScript3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45be9e76-59e0-4d8b-92e6-7e45076fd6fb","leftValue":"={{ $json['ТИП'] }}","rightValue":"=Я","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,1072],"id":"5c310a36-9041-4e68-b7d3-53cea4508cef","name":"If"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.кейсы, null, 2) }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Google Sheets Trigger3').item.json['Тема колоды'] }}\n{{ $('Google Sheets Trigger3').item.json[\"Аудитория\"] }}\n{{ $('Google Sheets Trigger3').item.json['Генерация карт МЫ'] }}\n{{ $('Google Sheets Trigger3').item.json['Инструкция'] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[640,1584],"id":"eeda6c0c-6898-4213-9f45-e17c6e4b21f0","name":"AI Agent3"},{"parameters":{"model":"google/gemini-3-pro-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[592,1824],"id":"84872aca-81b2-4010-bfc8-7e4e6de042ad","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"jsCode":"const rawOutput = $input.first().json.output;\n\n// Парсим строку в массив\nlet data;\ntry {\n  data = JSON.parse(rawOutput);\n} catch (error) {\n  throw new Error('Не удалось распарсить JSON: ' + error.message);\n}\n\n// Проверяем, что это массив\nif (!Array.isArray(data)) {\n  throw new Error('После парсинга должен быть массив, получено: ' + typeof data);\n}\n\nreturn data.map(item => ({\n  json: {\n    номер_карты: item['Карта_Id'] || '',\n    исходный_кейс: item['Номер_кейса'] || '',\n    название: item['Название'] || '',\n    луч: item['Луч'] || '',\n    описание: item['Description'] || '',\n    задача: item['Task'] || '',\n    допматериал: item['Доп_материал'] || '',\n    типЗадачи: item['Доп. материал'] || ''\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,1584],"id":"346ea008-5b6f-4711-84bc-dc27f05cebbd","name":"Code in JavaScript4"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=data","include":"allFieldsExcept","fieldsToExclude":"Оценка","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[208,1056],"id":"b097b26f-ca34-4fb3-9cfd-7fc419acf6a9","name":"Aggregate1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=data","include":"allFieldsExcept","fieldsToExclude":"Оценка","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[224,1440],"id":"c370acb4-4ee3-4493-bf5e-9966eba45d6c","name":"Aggregate2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2031935258,"mode":"list","cachedResultName":"Карты Я","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=2031935258"},"columns":{"mappingMode":"defineBelow","value":{"Номер":"={{ $json[\"номер_карты\"] }}","Исходный кейс":"={{ $json[\"исходный_кейс\"] }}","Название":"={{ $json[\"название\"] }}","Тип":"={{ $json[\"тип\"] }}","Описание":"={{ $json[\"описание\"] }}","Задание":"={{ $json[\"задача\"] }}","Допматериал":"={{ $json[\"допматериал\"] }}"},"matchingColumns":["Номер"],"schema":[{"id":"Исходный кейс","displayName":"Исходный кейс","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название","displayName":"Название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Тип","displayName":"Тип","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Задание","displayName":"Задание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Допматериал","displayName":"Допматериал","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Источник","displayName":"Источник","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"№ задания","displayName":"№ задания","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название сервиса 1","displayName":"Название сервиса 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка 1","displayName":"Ссылка 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название сервиса 2","displayName":"Название сервиса 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка 2","displayName":"Ссылка 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"№","displayName":"№","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Image","displayName":"Image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1472,1072],"id":"78592833-121a-4da5-a2c0-385ffc5d5cd9","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1115425241,"mode":"list","cachedResultName":"Карты МЫ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1115425241"},"columns":{"mappingMode":"defineBelow","value":{"Номер":"={{ $json[\"номер_карты\"] }}","Название":"={{ $json[\"название\"] }}","Описание":"={{ $json[\"описание\"] }}","Задание":"={{ $json[\"задача\"] }}","Допматериал":"={{ $json['допматериал'] }}","Источник":"=","Исходный кейс":"={{ $json[\"исходный_кейс\"] }}","Тип":"={{ $json['луч'] }}"},"matchingColumns":["Номер"],"schema":[{"id":"Исходный кейс","displayName":"Исходный кейс","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название","displayName":"Название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Тип","displayName":"Тип","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Задание","displayName":"Задание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Допматериал","displayName":"Допматериал","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Источник","displayName":"Источник","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Промт","displayName":"Промт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Image","displayName":"Image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Луч","displayName":"Луч","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1504,1584],"id":"8718d24b-bed1-4689-866b-4016ad14bd83","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const allCases = $input.first().json.data;\n\nconst filtered = allCases.map(item => ({\n  Номер: item['Номер'],\n  Название_кейса: item['Название кейса'],\n  Суть: item['Суть']\n}));\n\nreturn [{\n  json: {\n    кейсы: filtered\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,1440],"id":"fa11ee7a-3863-45dd-b143-0dc1c380c713","name":"Code in JavaScript7"},{"parameters":{"jsCode":"const allCases = $input.first().json.data;\n\nconst filtered = allCases.map(item => ({\n  Номер: item['Номер'],\n  Название_кейса: item['Название кейса'],\n  Суть: item['Суть']\n}));\n\nreturn [{\n  json: {\n    кейсы: filtered\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,1056],"id":"e3c4f831-c316-4913-8ba4-db82d5f660d2","name":"Code in JavaScript8"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.data, null, 2) }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Google Sheets Trigger').item.json[\"Карты я\"] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[96,2240],"id":"1a6d8485-2ff9-44bc-908c-e57cb57d6be3","name":"AI Agent4"},{"parameters":{"model":"google/gemini-3-pro-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[16,2544],"id":"f706b4a9-7274-4ff5-b929-bd0f13257a64","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2031935258,"mode":"list","cachedResultName":"Карты Я","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=2031935258"},"columns":{"mappingMode":"defineBelow","value":{"Номер":"={{ $json.number }}","Промт":"={{ $json.prompt }}"},"matchingColumns":["Номер"],"schema":[{"id":"Исходный кейс","displayName":"Исходный кейс","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название","displayName":"Название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Тип","displayName":"Тип","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Задание","displayName":"Задание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Допматериал","displayName":"Допматериал","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Источник","displayName":"Источник","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Промт","displayName":"Промт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,2240],"id":"9787477e-219b-46ad-9748-7e5c3b69db98","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1922465819,"mode":"list","cachedResultName":"Базовые промты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1922465819"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-640,2240],"id":"b351a18c-0d7e-47f3-9c6b-f5974aba975d","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2031935258,"mode":"list","cachedResultName":"Карты Я","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=2031935258"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-416,2240],"id":"91096ef8-a7f5-4759-8fac-6bac0d4f5fee","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=data","include":"allFieldsExcept","fieldsToExclude":"Промт, row_number, Исходный кейс, Допматериал, Источник","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-176,2240],"id":"0d3560b1-f2a2-447a-b081-70958730b2a6","name":"Aggregate3"},{"parameters":{"jsCode":"// 1. Получаем данные и делаем двойной парсинг\nlet rawOutput = $input.first().json.output;\n\n// Первый парсинг: если это JSON-строка массива\nlet parsedData;\ntry {\n  parsedData = typeof rawOutput === 'string' ? JSON.parse(rawOutput) : rawOutput;\n} catch (e) {\n  parsedData = rawOutput;\n}\n\n// Берем первый элемент, если это массив\nlet inputText = Array.isArray(parsedData) ? parsedData[0] : parsedData;\n\n// 2. Разбиваем по разделителю ───\nconst blocks = inputText.split(/\\n───\\n/).filter(b => b.trim());\n\n// 3. Обрабатываем каждый блок\nconst results = blocks.map(block => {\n  const lines = block.trim().split('\\n\\n'); // Используем двойной перенос\n  \n  // Первый элемент - заголовок\n  const headerLine = lines[0] || \"\";\n  const numberMatch = headerLine.match(/№(\\d+)/);\n  const number = numberMatch ? numberMatch[1] : \"\";\n  \n  // Второй элемент - промпт\n  const prompt = lines[1] || \"\";\n  \n  // Убираем префикс типа из заголовка\n  const title = headerLine\n    .replace(/^(Текст|Аудио|Изображение|Видео|Интерактив|Данные)\\s*№\\d+\\s*/, '')\n    .trim();\n  \n  return {\n    json: {\n      title: title,\n      number: number,\n      prompt: prompt\n    }\n  };\n});\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,2240],"id":"4b3ac1be-202f-41ef-afd6-9092e06ad699","name":"Code in JavaScript1"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.data, null, 2) }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Google Sheets Trigger4').item.json[\"Карты МЫ\"] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[192,2832],"id":"4d3a6dba-264f-4b8d-b523-cdcee20c2caa","name":"AI Agent5"},{"parameters":{"model":"google/gemini-3-pro-preview","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,3136],"id":"6eb0b33f-c938-4cac-a9fd-e404cff48243","name":"OpenRouter Chat Model5","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1115425241,"mode":"list","cachedResultName":"Карты МЫ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1115425241"},"columns":{"mappingMode":"defineBelow","value":{"Промт":"={{ $json.prompt }}","Номер":"={{ $json.number }}"},"matchingColumns":["Номер"],"schema":[{"id":"Исходный кейс","displayName":"Исходный кейс","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Название","displayName":"Название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Луч","displayName":"Луч","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Задание","displayName":"Задание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Допматериал","displayName":"Допматериал","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Источник","displayName":"Источник","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Промт","displayName":"Промт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,2832],"id":"59ca7f77-deb2-408d-bcfa-789ab2c1c368","name":"Append or update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1922465819,"mode":"list","cachedResultName":"Базовые промты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1922465819"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-544,2832],"id":"83486040-a146-4af5-81ee-772b91f7c68c","name":"Google Sheets Trigger4","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY","mode":"list","cachedResultName":"МАЯК ТЕСТ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1115425241,"mode":"list","cachedResultName":"Карты МЫ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qN6nt1S3X1BQMmV1PncsahKMZGy_4GOBxSCEmg5RhRY/edit#gid=1115425241"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-320,2832],"id":"eb437dcb-a0eb-4f71-a129-9cc08c470ca3","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=data","include":"allFieldsExcept","fieldsToExclude":"Промт, row_number, Исходный кейс, Допматериал, Источник","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-80,2832],"id":"584ba5fe-5057-4686-b4f1-a2d3f7f93d0a","name":"Aggregate4"},{"parameters":{"jsCode":"// 1. Безопасно парсим входные данные\nlet rawOutput = $input.first().json.output;\nlet inputData;\ntry {\n  // Если это строка JSON, парсим её. Если уже объект — оставляем.\n  inputData = typeof rawOutput === 'string' ? JSON.parse(rawOutput) : rawOutput;\n} catch (e) {\n  inputData = []; \n}\n\n// Вспомогательная функция для очистки промпта от оберток ```text или ```markdown\nfunction cleanPrompt(text) {\n  if (!text) return \"\";\n  return text\n    .replace(/^```(markdown|text|json)?\\s*/i, '') // Убираем начало ```text\n    .replace(/^```\\s*/, '')                        // Убираем просто ```\n    .replace(/\\s*```$/, '')                        // Убираем конец ```\n    .trim();\n}\n\nconst results = inputData.map(item => {\n  let title = \"\";\n  let number = \"\";\n  let prompt = \"\";\n\n  // === ВАРИАНТ 1: Элемент массива — СТРОКА (Markdown) ===\n  if (typeof item === 'string') {\n    // Сценарий А: Заголовок СНАРУЖИ (Ваш последний пример: \"Текст №1...\\n\\n```text...\")\n    // Ищем текст до ```, затем содержимое внутри ```\n    const matchOutside = item.match(/^(.*?)\\s*```(?:text|markdown)?\\s*([\\s\\S]*?)\\s*```/);\n    \n    // Сценарий Б: Заголовок ВНУТРИ (Ваш предыдущий пример: \"```markdown\\nТекст №1...\\n\\n...\")\n    // Ищем начало блока, потом заголовок, два переноса, потом промпт\n    const matchInside = item.match(/^```(?:markdown|text)?\\s*(.*?)\\n\\n([\\s\\S]*?)\\s*```/);\n\n    if (matchOutside && !item.trim().startsWith('```')) {\n      // Сработал Сценарий А (заголовок перед кодом)\n      title = matchOutside[1].trim();\n      prompt = matchOutside[2].trim();\n    } else if (matchInside) {\n      // Сработал Сценарий Б (заголовок внутри кода)\n      title = matchInside[1].trim();\n      prompt = matchInside[2].trim();\n    } else {\n      // Если регулярки не сработали, просто чистим текст\n      prompt = cleanPrompt(item);\n    }\n  } \n  \n  // === ВАРИАНТ 2: Элемент массива — ОБЪЕКТ (JSON) ===\n  else if (typeof item === 'object' && item !== null) {\n    if ('card_id' in item || 'header' in item) {\n      // Формат с card_id\n      title = item.header || \"\";\n      number = item.card_id || \"\";\n      prompt = cleanPrompt(item.prompt_code);\n    } else {\n      // Формат с \"Номер\" и \"Промт\"\n      title = \"\"; \n      number = item[\"Номер\"] || \"\";\n      prompt = cleanPrompt(item[\"Промт\"]);\n    }\n  }\n\n  // === ФИНАЛЬНАЯ ОБРАБОТКА ===\n  // Если номер не найден в явном поле (card_id/Номер), вытаскиваем его из начала текста промпта\n  if (!number && prompt) {\n    const numMatch = prompt.match(/^(\\d+)/);\n    number = numMatch ? numMatch[1] : \"\";\n  }\n\n  return {\n    json: {\n      title: title,\n      number: number,\n      prompt: prompt\n    }\n  };\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,2832],"id":"49fca895-bfb3-4830-a885-55e0dd4e0c7b","name":"Code in JavaScript5"},{"parameters":{"promptType":"define","text":"={{ $json[\"Номер\"] }}\n{{ $json[\"Название\"] }}\n{{ $json[\"Описание\"] }}\n{{ $json[\"Задание\"] }}","hasOutputParser":true,"options":{"systemMessage":"=РОЛЬ И ЗАДАЧА\nТы - генератор дополнительных материалов для учебного тренажера по работе с ИИ.\nЦелевая аудитория: управленческая команда проекта \"Московское долголетие\"\n\nВАЖНО: Ты НЕ решаешь задание. Ты создаешь ВХОДНЫЕ материалы (справки, таблицы, сценарии), которые участник будет использовать для решения задачи.\n\nАЛГОРИТМ РАБОТЫ\nШаг 1: Поиск информации\nЕсли упомянута реальная компания (Сбербанк, Светофор, АвтоВАЗ, ВкусВилл и т.д.) → ОБЯЗАТЕЛЬНО провести веб-поиск\n\nИскать: реальные новости, события, контекст о компании\n\nИспользовать реальные данные как основу, но СТРОГО соблюдать цифры из задания (даже если кажутся нереалистичными)\n\nШаг 2: Анализ задания\nОпределить:\n\nКакой материал нужен? (справка/таблица/сценарий/схема)\n\nКакую информацию он должен содержать?\n\nШаг 3: Генерация материала\nСтрогие лимиты объема:\n\nЛюбой материал: максимум 2000 символов с пробелами (НЕ ПРЕВЫШАТЬ!)\n\nТаблицы: максимум 15 строк, максимум 4 столбца\n\nПРАВИЛА ГЕНЕРАЦИИ\nОБЯЗАТЕЛЬНО:\nТолько входные данные - создавать материал для анализа, НЕ решение\n\nСтрого соблюдать цифры из задания - не корректировать и не изменять\n\nРеальный контекст где это возможно (или максимально правдоподобный)\n\nРеалистичные детали - номера документов, адреса, ФИО\n\nЯзык: русский\n\nОбезличивание - если в задании нет конкретных данных\n\nКонтроль объема - не превышать 2000 символов с пробелами\n\nЗАПРЕЩЕНО:\nРешать задание или давать рекомендации\n\nПисать выводы, заключения, прогнозы, анализ\n\nДобавлять подписи, печати, приложения (если их нет физически)\n\nУказывать даты в документах\n\nПревышать лимит 2000 символов\n\nПисать комментарии вне материала\n\nПисать мета-комментарии (\"Примечание для участника\", \"Используйте эти данные\")\n\nДавать рекомендации по решению (\"Требуется\", \"Необходимо сделать\")\n\nИспользовать провокационные темы (коррупция, острые темы)\n\nОтсылаться к номеру задания или указывать, что данные для адаптации\n\nСТРУКТУРА МАТЕРИАЛОВ\nСправки/Отчеты\nТолько разделы с фактическими данными:\n\nЗаголовок - название документа\n\nОбщая информация - кто, что, контекст\n\nСтатистика - ключевые цифры из задания\n\nДетализация - категории, примеры, регионы\n\nИзъятия/меры - если применимо\n\nОписывай факты, не действия\n\nЕсли в задании есть поручение (написать письмо, составить план) - опиши КОНТЕКСТ и ДАННЫЕ, но не давай инструкций\n\nНЕ включать: заключения, рекомендации, подписи, прогнозы, даты\n\nТаблицы данных\nРеалистичные данные без дат\n\nМаксимум 15 строк, максимум 4 столбца\n\nСортировка по релевантности\n\nСценарии (для аудио/видео)\nСтруктура: хронометраж + реплики/действия\n\nТехнические указания\n\nФормат диалога или закадрового текста\n\nЧто сокращать при приближении к лимиту:\n\nУменьшить количество примеров в детализации\n\nСократить описания, оставив факты\n\nУбрать дублирующие данные\n\nНЕ СОКРАЩАТЬ: цифры из задания, структуру документа, источники\n\nФОРМАТ ВЫВОДА И ОФОРМЛЕНИЕ\nВАЖНО: Используй Markdown для структурирования документа!\n\nПравила форматирования:\n\nЗАГОЛОВКИ:\nОсновной заголовок документа: ## НАЗВАНИЕ ДОКУМЕНТА\n\nПодзаголовки разделов: ### Название раздела\n\nОбязательно оставляй пустую строку после заголовков\n\nВЫДЕЛЕНИЕ ТЕКСТА:\nЖирный текст для важных данных: **текст**\n\nКурсив для примечаний: *текст*\n\nНе злоупотребляй выделением - только ключевые цифры и термины\n\nСПИСКИ:\nМаркированные списки: используй дефис с пробелом (- пункт)\n\nНумерованные списки: используй цифры с точкой (1. пункт)\n\nКаждый пункт с новой строки\n\nОдин уровень вложенности (без подпунктов)\n\nТАБЛИЦЫ:\nИспользуй Markdown формат таблиц:\n\n| Заголовок 1 | Заголовок 2 | Заголовок 3 |\n|-------------|-------------|-------------|\n| Данные 1    | Данные 2    | Данные 3    |\n\nПервая строка - заголовки\n\nВторая строка - разделитель (дефисы)\n\nПоследующие строки - данные\n\nПРИМЕРЫ ПРАВИЛЬНОГО ОФОРМЛЕНИЯ\n\nПример 1: Справка\n\n## СПРАВКА О РЕЗУЛЬТАТАХ ПРОВЕРКИ ООО \"КОМПАНИЯ\"\n\n### Общие сведения\n\nПроверено объектов: **312**\nВыявлено нарушений: **34 000 000**\nЗакрыто магазинов: **76**\n\n### Нарушения по категориям\n\n| Категория | Количество | Доля |\n|-----------|------------|------|\n| Фальсификация | 11 900 000 | 35% |\n| Просрочка | 10 200 000 | 30% |\n| Хранение | 8 500 000 | 25% |\n| Прочее | 3 400 000 | 10% |\n\n### Региональное распределение\n\nПроверки проводились в 8 регионах РФ. Наибольшее количество нарушений выявлено в Центральном федеральном округе.\n\n**Детализация по типам продукции:**\n\n- Молочная продукция: 15 200 000 случаев\n- Мясная продукция: 10 800 000 случаев\n- Кондитерские изделия: 8 000 000 случаев\n\nПример 2: Детальная таблица\n\n### Детализация нарушений\n\n| № | Магазин | Адрес | Тип нарушения | Продукт | Объем |\n|---|---------|-------|---------------|---------|-------|\n| 1 | Светофор №45 | г. Москва, ул. Ленина, 12 | Просрочка | Молоко | 45 кг |\n| 2 | Светофор №78 | г. СПб, пр. Мира, 34 | Фальсификат | Сметана | 89 кг |\n| 3 | Светофор №12 | г. Казань, ул. Баумана, 56 | Хранение | Творог | 67 кг |\n\nРАЗРЕШЕННЫЕ ЭЛЕМЕНТЫ MARKDOWN:\n## для основного заголовка\n\n### для подзаголовков\n\n**текст** для жирного выделения\n\n*текст* для курсива\n\n- для маркированных списков\n\n1. для нумерованных списков\n\n| для таблиц\n\nЗАПРЕЩЕННЫЕ ЭЛЕМЕНТЫ:\n# одинарная решетка (используй ## или ###)\n\n__подчеркивания__ для выделения (используй **)\n\n` обратные кавычки для кода\n\n> угловые скобки для цитат\n\n--- горизонтальные линии\n\n[ссылки](url)\n\n![изображения](url)\n\nВАЖНО: Всегда проверяй итоговый объем - не более 2000 символов с пробелами!\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[144,3728],"id":"25e539fc-14bb-4016-8f2e-0d8c04a5dbfc","name":"AI Agent6"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[144,3936],"id":"95465f41-b069-40dc-b9f1-5fabc9a11903","name":"OpenRouter Chat Model6","credentials":{"openRouterApi":{"id":"pJe8FBO1wBP2cAlk","name":"OpenRouter account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1JP4loEwmca86uUhanqU3QzX4OC2MnaTMrWn4_bfi93M","mode":"list","cachedResultName":"Законодательная власть","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JP4loEwmca86uUhanqU3QzX4OC2MnaTMrWn4_bfi93M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":619646394,"mode":"list","cachedResultName":"Лист9","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JP4loEwmca86uUhanqU3QzX4OC2MnaTMrWn4_bfi93M/edit#gid=619646394"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-560,3728],"id":"cad33239-afee-4e61-a9cd-32b1ee66d139","name":"Google Sheets Trigger5","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"fMVtkGNwZjWRC544","name":"Google Sheets Trigger account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-352,3728],"id":"84464149-a0d6-44c4-ba23-93437c31a10e","name":"Loop Over Items","executeOnce":false,"alwaysOutputData":false},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-96,3728],"id":"473b5f9b-49b0-4210-85b8-713903a60a9c","name":"Wait","webhookId":"11ab65b4-a43c-43ed-9612-3ab88207b14a"},{"parameters":{"documentId":{"__rl":true,"value":"1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM","mode":"list","cachedResultName":"МАЯК Артек","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Кейсы(не валидированные)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wHeDBcdSjPrm1O8eIHADxVGiUdGyYXZ_SY1fRy5B2mM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-240,352],"id":"d4489a53-215f-4306-bd49-d4d0bff710c9","name":"Get row(s) in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"IyQXmkydv1ttb53W","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('Create a document').item.json.id }}:batchUpdate","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ { requests: $json.requests } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1184,3728],"id":"0c7ce927-be67-4222-a888-e3ee60a5b73b","name":"HTTP Request","credentials":{"oAuth2Api":{"id":"dtz96XdRSBW3uTPv","name":"Unnamed credential 2"}}},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $('AI Agent6').item.json.output }}","destinationKey":"html","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[704,3728],"id":"839b4542-d392-45b5-b2f7-29f4203efe10","name":"Markdown"},{"parameters":{"jsCode":"const html = $input.first().json.html || '';\nconst documentId = $input.first().json.id; // ✅ было .documentId — не работало\n\nlet plainText = html\n  .replace(/<h2>(.*?)<\\/h2>/g, '\\n\\n###H2###$1###H2END###\\n')\n  .replace(/<h3>(.*?)<\\/h3>/g, '\\n###H3###$1###H3END###\\n')\n  .replace(/<strong>(.*?)<\\/strong>/g, '###BOLD###$1###BOLDEND###')\n  .replace(/<p>/g, '')\n  .replace(/<\\/p>/g, '\\n')\n  .replace(/<ul>/g, '').replace(/<\\/ul>/g, '')\n  .replace(/<ol>/g, '').replace(/<\\/ol>/g, '')\n  .replace(/<li>/g, '• ').replace(/<\\/li>/g, '\\n')\n  .replace(/<table>/g, '').replace(/<\\/table>/g, '\\n')\n  .replace(/<tr>/g, '').replace(/<\\/tr>/g, '\\n')\n  .replace(/<td>/g, '').replace(/<\\/td>/g, ' | ')\n  .replace(/<th>/g, '').replace(/<\\/th>/g, ' | ')\n  .replace(/<br\\s*\\/?>/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst requests = [];\n\nconst cleanText = plainText\n  .replace(/###H2###/g, '').replace(/###H2END###/g, '')\n  .replace(/###H3###/g, '').replace(/###H3END###/g, '')\n  .replace(/###BOLD###/g, '').replace(/###BOLDEND###/g, '');\n\nrequests.push({\n  insertText: { location: { index: 1 }, text: cleanText }\n});\n\nconst h2Regex = /###H2###(.*?)###H2END###/g;\nlet match;\nwhile ((match = h2Regex.exec(plainText)) !== null) {\n  const headerText = match[1];\n  const startIndex = cleanText.indexOf(headerText);\n  if (startIndex >= 0) {\n    requests.push({\n      updateParagraphStyle: {\n        range: { startIndex: startIndex + 1, endIndex: startIndex + 1 + headerText.length },\n        paragraphStyle: { namedStyleType: 'HEADING_2' },\n        fields: 'namedStyleType'\n      }\n    });\n  }\n}\n\nconst h3Regex = /###H3###(.*?)###H3END###/g;\nwhile ((match = h3Regex.exec(plainText)) !== null) {\n  const headerText = match[1];\n  const startIndex = cleanText.indexOf(headerText);\n  if (startIndex >= 0) {\n    requests.push({\n      updateParagraphStyle: {\n        range: { startIndex: startIndex + 1, endIndex: startIndex + 1 + headerText.length },\n        paragraphStyle: { namedStyleType: 'HEADING_3' },\n        fields: 'namedStyleType'\n      }\n    });\n  }\n}\n\nconst boldRegex = /###BOLD###(.*?)###BOLDEND###/g;\nlet offset = 0;\nconst cleanTextForBold = plainText.replace(/###H2###|###H2END###|###H3###|###H3END###/g, '');\nwhile ((match = boldRegex.exec(cleanTextForBold)) !== null) {\n  const boldText = match[1];\n  const startIndex = cleanText.indexOf(boldText, offset);\n  if (startIndex >= 0) {\n    requests.push({\n      updateTextStyle: {\n        range: { startIndex: startIndex + 1, endIndex: startIndex + 1 + boldText.length },\n        textStyle: { bold: true },\n        fields: 'bold'\n      }\n    });\n    offset = startIndex + boldText.length;\n  }\n}\n\nreturn {\n  json: {\n    documentId,\n    requests // ✅ было JSON.stringify — не работало в n8n 4.3\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,3728],"id":"c6825934-69e9-4a30-97e6-62f83fa7f14e","name":"Code in JavaScript6"},{"parameters":{"folderId":"1SVZwHCxAbxdRIJjog2n4LO62bSvavX1H","title":"=Справочный материал - {{ $now.format('dd.MM.yyyy HH:mm') }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[496,3728],"id":"e1fe0945-c533-4392-b889-3d56904e2b69","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"z0jrK24hBmhjO5QL","name":"Google Docs account"}}}],"connections":{"Append row in sheet1":{"main":[[]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Google Sheets Trigger2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Google Sheets Trigger1":{"main":[[{"node":"Get row(s) in sheet5","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Google Sheets Trigger3":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"If":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"Aggregate2","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code in JavaScript8","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]},"Code in JavaScript7":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Code in JavaScript8":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"AI Agent4":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Google Sheets Trigger4":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0}]]},"AI Agent6":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"OpenRouter Chat Model6":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0}]]},"Google Sheets Trigger5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"Get row(s) in sheet5":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Markdown","type":"main","index":0}]]}},"authors":"Admin Admin","name":"Version 1f0445f6","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-09T10:05:23.161Z","id":121,"workflowId":"D2FUc9ESHv4XWp7b","versionId":"1f0445f6-9cbc-4b46-8263-128a079c5b0e","event":"activated","userId":"2f67f295-223b-49c3-8843-e0c4e0815d98"}]}}